html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%; /* Hauteur fixe pour la section contenant les colonnes */
}

.bottom-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Masque le débordement des colonnes */
}

.left-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sections-column {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}

    #sections-column div {
        border: 2px solid white;
        border-radius: 15px;
        padding: 10px;
        background-color: #adadad;
        margin-bottom: 30px;
        cursor: pointer;
        width: 200px;
        box-sizing: border-box;
    }

        #sections-column div:hover {
            background-color: rgb(80, 80, 80);
        }

#albums-column {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}

    #albums-column div {
        border: 2px solid white;
        border-radius: 15px;
        background-color: #adadad;
        margin-bottom: 30px;
        cursor: pointer;
        width: 200px;
        box-sizing: border-box;
    }

        #albums-column div:hover {
            background-color: rgb(80, 80, 80);
        }

        #albums-column div p,
        #sections-column div {
            text-align: center;
            font-size: 22px;
            color: white;
            text-decoration: none;
        }

.highlighted {
    background-color: rgb(80, 80, 80);
}

.section-add {
    flex: 1;
    display: flex;
    flex-direction: column; /* Correction de la propriété `flex` */
}

.text-div {
    flex: 1;
}

    .text-div p {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        font-size: 22px;
    }

.form {
    flex: 2;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    text-align: center;
}

    .form input {
        height: 30px;
    }

    .form button {
        height: 35px;
        background-color: #9ed3ff;
        border-color: transparent;
    }

        .form button:hover {
            background-color: #383bff;
        }

/* album */

.album-add {
    flex: 1;
    display: flex;
    flex-direction: column; /* Correction de la propriété `flex` */
}

.text-div-album {
    flex: 1;
}

    .text-div-album p {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        font-size: 22px;
    }

.form-album {
    flex: 2;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    text-align: center;
}

    .form-album input {
        height: 30px;
    }

    .form-album button {
        height: 35px;
        background-color: #9ed3ff;
        border-color: transparent;
    }

        .form-album button:hover {
            background-color: #383bff;
        }

.album-delete button {
    height: 35px;
    background-color: #ff0000;
    border-color: transparent;
}

.album-delete {
    flex: 1;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    text-align: center;
}

    .album-delete button:hover {
        background-color: #ff7373;
    }

.section-delete button {
    height: 35px;
    background-color: #ff0000;
    border-color: transparent;
}

.section-delete {
    flex: 1;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    text-align: center;
}

    .section-delete button:hover {
        background-color: #ff7373;
    }
