@model Domain.Models.Section

<head>
    <title>@Model.Name</title>
    <link rel="stylesheet" href="~/albums/styles/style.css" />
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Sélectionner tous les éléments avec la classe 'album'
            const albums = document.querySelectorAll('.album');

            // Ajouter un événement de clic à chaque album
            albums.forEach(album => {
                album.addEventListener('click', function() {
                    // Récupérer le lien à partir de l'attribut 'data-link'
                    const link = album.getAttribute('data-link');
                    if (link) {
                        // Rediriger vers le lien
                        window.location.href = link;
                    }
                });
            });
        });
    </script>
</head>

<body>
<div class="container">
    <h1>@Model.Name</h1>
    <div class="grid-container">
        @if (Model.Albums.Any())
        {
            foreach (var album in Model.Albums)
            {
                <div class="album" data-link="@album.Link">
                    <p>@album.Name</p>
                </div>
            }
        }
    </div>
</div>
</body>