@model Domain.Models.Section

<head>
    <title>Album - @Model.Name</title>
    <link rel="stylesheet" href="~/albums/styles/style.css" />
</head>

<body>
<div class="container">
    <h1>@Model.Name</h1>
    <div class="grid-container">
        @if (Model.Albums.Any())
        {
            foreach (var album in Model.Albums)
            {
                <div class="album" data-link="@album.Link">
                    <p>@album.Name</p>
                </div>
            }
        }
    </div>
</div>

<script src="~/albums/scripts/script.js"></script>
</body>